@media (max-width: 768px) {
    .iframe-child-page {
        border: 0;
        position: relative;
        width: 100%;
        height: 100vh;
    }
    div.layout_content{
        display: contents
    }
}

@media (min-width: 768px) {
    .iframe-child-page {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}